.footer {
  display: flex;
  padding: 1rem 2rem;
  border-top: 2px solid var(--text-color);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer button {
  margin: 0 0.5rem;
}
.textContainer {
  margin: auto;
}
