.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 0 5rem 0;
}
.cardWrapper {
  width: 100%;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--text-color);
  height: 100%;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.thumbnail {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  width: 10rem;
  border-left: 2px solid var(--text-color);
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
  }
}
