.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
  padding: 1rem 2rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.logo {
  width: 12rem;
}
.header button {
  margin: 0.5rem 0.5rem;
}
