*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #252423;
  --bg-color: #dad5d0;
  --primary-color: #bf7940;
  --secondary-color: #86c879;
  --accent-color: #c5cf6e;
}

html {
  font-size: 100%;
}
body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1;
  font-style: normal;
}

.roboto-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: -0.08em;
  line-height: 1;
  font-style: normal;
}
.roboto-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: -0.08em;
  line-height: 1;
  font-style: italic;
}

button {
  background: none;
  border: 1px solid var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 3rem;
  cursor: pointer;
  color: var(--text-color);
}
img {
  max-width: 100%;
  display: block;
}
